.container {
    height: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoContainer img {
    width: 14rem;
    height: 8rem;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnContainer .btnAuthencation {
    margin-right: 2rem;
}

.btnContainer .btnAuthencation p {
    display: inline;
    font-size: 1.4rem;
    line-height: 20px;
    font-weight: 400;
    cursor: pointer;
}

.btnAuthencation p:hover {
    color: #f16c12;
}

.btnContainer .btnAuthencation span {
    margin: 0 0.5rem 2rem;
}

.btnCart {
    width: 10rem;
    height: 4rem;
    background-color: #f16c12;
    border-radius: 0.4rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btnCart p {
    font-size: 1.3rem;
    margin-left: 1rem;
}

@media only screen and (max-width: 740px) {
    .container {
        flex-direction: column;
    }
    .logoContainer {
        margin-top: 2rem;
    }
}