.searchContainer {
  width: 40rem;
  height: 4rem;
  border: 0.1rem solid gray;
  border-radius: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchContainer input {
  padding: 0 8rem 0 3.2rem;
  border: none;
  outline: none;
  line-height: 4rem;
  border-radius: 0.4rem;
}

.searchContainer input::placeholder {
  font-size: 1.3rem;
  color: #333;
}

.searchContainer .searchBtn {
  width: 5rem;
  height: 4rem;
  background-color: #f16c12;
  position: relative;
  cursor: pointer;
}

.searchBtn i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.4rem;
}

@media only screen and (max-width: 740px) {
  .searchContainer {
    width: 30rem;
    margin: 2rem 0;
  }
}